@import "../../variables";

.coin {
  width: 100vw;
  min-height: 100vh;
  background-image: $gradient-1;

  display: flex;
  align-items: center;
  justify-content: center;

  color: $color-white;

  &__container {
    display: flex;
    align-items: center;
  }

  &__coin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    gap: 2rem;
    padding: 0 7rem;

    border-right: 2px solid $color-white;
  }

  &__image {
    width: 22rem;
    height: 22rem;
  }

  &__name {
    font-size: 3.3rem;
  }

  &__rank {
    font-size: 2rem;
  }

  &__details {
    display: flex;
    flex-direction: column;
    padding: 2rem 0rem;
    gap: 4rem;

    span {
      margin-left: 1rem;
      font-weight: bold;
    }
  }

  &__details-price {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    padding: 0rem 5rem;
    gap: 2rem;
  }

  &__details-summary {
    height: 30rem;
    font-size: 2rem;
    overflow-y: auto;
    padding: 0 2rem;
    line-height: 1.5;
  }
}

@media screen and (max-width: 1024px) {
  .coin {
    padding: 15rem 0;

    &__container {
      flex-direction: column;
    }

    &__coin {
      border-right: none;
      border-bottom: 2px solid $color-white;
      width: 90%;
      padding: 3rem 0;
    }

    &__details-price {
      margin-top: 1rem;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1.5rem;
    }
  }
}
